{% extends 'mspy/_partials/base/en.twig' %}
{% block title %}Mspy{% endblock %}
{% block content %}
    <tr>
        <td style="color:#29303C;font-family:Arial,Helvetica,sans-serif;font-size:24px;line-height:22px;font-weight:500;text-align:center;padding: 0;">
            Dear Customer,
            <div style="height: 16px; line-height: 16px; font-size: 16px;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" width="100%" style="max-width: 336px;">
                <tbody>
                <tr>
                    <td style="color:#29303C;font-family:Arial,Helvetica,sans-serif;font-size:18px;line-height:24px;font-weight:400;text-align:center;padding: 0;">
                        See attached your personal private key file. Please store it in safe
                        place.
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="height: 48px; line-height: 48px; font-size: 48px;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table align="center" width="100%" style="max-width: 355px;">
                <tbody>
                <tr>
                    <td>
                        <img style="width: 100%; height: auto;"
                             src="https://www.mspy.com/static/mspy/public/assets/images/mail/info.png" alt="">
                        <div style="height: 48px; line-height: 48px; font-size: 48px;">&nbsp;</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" width="100%" style="padding-left: 45px; padding-right: 45px;">
                <tbody>
                <tr>
                    <td style="color:#7C89A3;font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:21px;font-weight:400;padding: 0;">
                        Need additional help? Contact us at
                        <a href="mailto:support@mspy.com"
                           style="color:#00B0FF; text-decoration: underline;">support@mspy.com</a>
                        <div style="height: 20px; line-height: 20px; font-size: 20px;">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td style="color:#7C89A3;font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:21px;font-weight:400;padding: 0;">
                        Kind regards,<br/>mSpy Team
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
{% endblock %}
